body {
  text-align: center;
}

/* Profile section */
#profile {
  position: relative;
  padding: 7% 15%;
  text-align: center;
}

.avt-image {
  width: 300px;
  position: relative;
}

.about-me {
  position: relative;
  float: left;
  text-align: left;
}

/* social */
.social {
  justify-content: center;
  display: flex;
  padding-top: 20px;
}

.social a {
  text-decoration: none;
  color: #f1f1f1;
  font-size: 18px;
  width: 40px;
  height: 40px;
  margin: 10px 3.5px;
  text-align: center;
  transition: 0.4s all;
  line-height: 40px;
  cursor: pointer;
  background: #314652;
  border-radius: 50%;
}

.social a:hover {
  transform: scale(1.2) rotate(0.05turn);
  background-color: transparent;
  color: #314652;
}

/* Contact Form */
.contact {
  padding: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.contact > h2 {
  width: 100%;
  margin: 3% auto;
  text-transform: uppercase;
  color: #314652;
  font-size: 60px;
  text-align: center;
}

.contact-info,
.contact-form {
  margin: 1.5rem;
}

.contact-item {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #314652;
}

.contact-item > .fas {
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  color: #f1f1f1;
  background: #314652;
  text-align: center;
  border-radius: 50%;
  margin-right: 1rem;
}

.contact-form {
  justify-content: space-between;
}

.contact-form,
textarea {
  min-height: 12rem;
  max-height: 30rem;
}

.contact-form > .row {
  padding-bottom: 1.5rem;
}

.button {
  background-color: #314652;
  color: #f1f1f1;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid #314652;
  transition: 0.3s linear;
  margin-left: auto;
  display: flex;
}

.button:hover {
  background-color: transparent;
  color: #314652;
}

@media (max-width: 1028px) {
  #profile {
    text-align: center;
    padding-top: 13%;
  }

  .avt-image {
    position: static;
  }

  .about-me {
    text-align: center;
  }
}
